
body{
    background-color: #000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.glowing-text {
    background-image: linear-gradient(
      to right,
      #ff00de 10%,
      #ff7300 20%,
      #fffb00 30%,
      #ffff00 40%,
      #b3ff00 50%,
      #29ff00 60%,
      #00ff55 70%,
      #00ffb3 80%,
      #00ffff 90%,
      #00b3ff 100%
    );
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: glowing 2s ease-in-out infinite;
    font-size: 80px;
    text-shadow: 5px 10px 3px;
  }
  
  @keyframes glowing {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  #blinking-text {
    color: pink;
    animation: blink 1s ease-in-out infinite;
    font-size: 60px;
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  
  
  .neon-text {
    color: #ff66cc;
    text-shadow:
      0 0 10px #ff66cc,
      0 0 20px #ff66cc,
      0 0 30px #ff66cc,
      0 0 40px #ff66cc,
      0 0 50px #ff66cc,
      0 0 60px #ff66cc,
      0 0 70px #ff66cc;
    animation: neon-animation 2s ease-in-out infinite;
    animation-direction: alternate;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  @keyframes neon-animation{
    0% {
      text-shadow:
        0 0 10px #ff66cc,
        0 0 20px #ff66cc,
        0 0 30px #ff66cc,
        0 0 40px #ff66cc,
        0 0 50px #ff66cc,
        0 0 60px #ff66cc,
        0 0 70px #ff66cc;
    }
    50% {
      text-shadow:
        2px 2px 10px #ff66cc,
        2px 2px 20px #ff66cc,
        2px 2px 30px #ff66cc,
        2px 2px 40px #ff66cc,
        2px 2px 50px #ff66cc,
        2px 2px 60px #ff66cc,
        2px 2px 70px #ff66cc;
    }
    100% {
      text-shadow:
        0 0 10px #ff66cc,
        0 0 20px #ff66cc,
        0 0 30px #ff66cc,
        0 0 40px #ff66cc,
        0 0 50px #ff66cc,
        0 0 60px #ff66cc,
        0 0 70px #ff66cc;
    }
  }